*{
  margin:0;
  padding:0;
}
#header{
  width:100%;
  height:70px;
  background-color: #06D994;
}
.header-content{
  width:100%;
  height:100%;
  /*border:1px solid #FF6A6A;*/
}
.header-content:after{
  display: block;
  clear: both;
  height: 0;
  content:'';
}
.header-content-left{
  width:290px;
  height:100%;
  /*border:1px solid #FF0000;*/
  float: left;
}
.header-content-left .logo{
  width:100%;
  height:100%;
 /* border:1px solid #FF00FF;*/
  position: relative;
}
.header-content-left .logo img{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.header-content-right{
  width:290px;
  height:100%;
  float:right;
 /* border:1px solid #FFA500;*/
  margin-left: 10px;
}
.header-content-right .admin-detail{
  width:100%;
  height: 100%;
  position: relative;
}
.header-content-right .admin-detail .admin-images{
  position:absolute;
  width:50px;
  height:50px;
  border:3px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top:50%;
  transform: translateY(-50%);
  overflow: hidden;
  cursor: pointer;

}
.header-content-right .admin-detail .admin-images img{
    width:100%;
    height:100%;
}
.header-content-right .admin-detail .admin-name{
  position: absolute;
  width: 100px;
  height:50px;
  /*border:1px solid #FFFF00;*/
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.header-content-right .admin-detail .admin-name span[class="name"]{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
#content{
  position: absolute;
  top:70px;
  bottom:50px;
  width: 100%;
  background-color: #FF6A6A;
}
#content #content-left{
  position: absolute;
  width: 290px;
  height: 100%;
  left:0;
  top:0;
  background-color: rgba(0,0,0,.7);
}
#content #content-right{
  position: absolute;
  left: 290px;
  right: 0;
  top:0;
  height: 100%;
  background-color: #FFA500;
}
#footer{
  position:absolute;
  left: 0;
  right:0;
  bottom:0;
  height: 50px;
  background-color: rgba(0,0,0,.7);
}
