<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTTO后台管理系统</title>
    <link rel="stylesheet" href="/stylesheets/indexs.css" type="text/css">
    <script src="/javascripts/indexs.js" type="text/javascript"></script>
</head>
<body>

<div id="header">
    <div class="header-content">
        <div class="header-content-left">
            <div class="logo"><img src="/images/otto_logo.png" alt="OTTO_LOGO" title="LOGO"></div>
        </div>
        <div class="header-content-right">
            <div class="admin-detail">
                <div class="admin-images"><img src="/images/picture.jpg" alt="admin_images"></div>
                <div class="admin-name"><span class="name">LangNans</span></div>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div id="content-left">
        <!--左侧导航下拉菜单-->
        <ul id="parentUL">
            <li class="parentLI" >
                <a href="#" id="0">商品管理</a>
                <ul class="childUL">
                    <li><a href="#" data-url="/store" id="url">商品列表</a></li>
                    <li><a href="#">nav1-2</a></li>
                    <li><a href="#">nav1-3</a></li>
                </ul>
            </li>
            <li class="parentLI" >
                <a href="#" id="1">nav2</a>
                <ul class="childUL">
                    <li><a href="#">nav2-1</a></li>
                    <li><a href="#">nav2-2</a></li>
                    <li><a href="#">nav2-3</a></li>
                    <li><a href="#">nav2-4</a></li>
                </ul>
            </li>
            <li class="parentLI" >
                <a href="#" id="2">nav3</a>
                <ul class="childUL">
                    <li><a href="#">nav3-1</a></li>
                    <li><a href="#">nav3-2</a></li>
                    <li><a href="#">nav3-3</a></li>
                </ul>
            </li>
            <li class="parentLI" >
                <a href="#" id="3">nav4</a>
                <ul class="childUL">
                    <li><a href="#">nav4-1</a></li>
                    <li><a href="#">nav4-2</a></li>
                    <li><a href="#">nav4-3</a></li>
                </ul>
            </li>
            <li class="parentLI" >
                <a href="#" id="4">用户中心</a>
                <ul class="childUL">
                    <li><a href="/users/admin">管理员信息</a></li>
                    <li><a href="#">nav5-2</a></li>
                    <li><a href="#">nav5-3</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="content-right">
    </div>
</div>
<div id="footer">

</div>

</body>
</html>