<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/indexs.css" type="text/css">
</head>
<body>
<div id="header">
    <div class="header-content">
        <div class="header-content-left"></div>
        <div class="header-content-right"></div>
    </div>
</div>
</body>
</html>